* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(66, 158, 189);
    width: 100vw;
    height: 100vh;
}
.navContainer {
    display: flex;
    width: 100%;
    height: 30vh;
    background: rgb(53, 112, 97);
    justify-content: center;
    align-items: center;
}
.navContainer .btnContainer {
    position: relative;
    display: flex;
    width: 75%;
    height: 100px;
    background: rgb(90, 80, 80);
    justify-content: center;
    align-items: center;
}
.navContainer .btnContainer i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: auto auto;
    background: rgb(90, 80, 80);
        border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.25),
                3px 3px 5px rgba(0,0,0,0.65),
                inset -2px -2px 4px rgba(255,255,255,0.25),
                inset 1px 1px 2px rgba(0,0,0,0.35);
}
.mainContainer .testimonials {
    width: 100vw;
    height: 60vh;
    display: inline-flex;
    background: red;

}
.mainContainer .testimonials .testwrapper {
    width: 80%;
    height: 100%;
    background: rgb(53, 112, 97);

}
.mainContainer .testimonials .testWrapper p {
    margin: 5px 5px;
    padding: 5px 5px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.footerContainer {
    width: 100vw;
    height: 200px;
    background: green;
}